
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
    margin: 0;
    padding: 0;
}

.container {
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100vh;
}

.navbar {
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: solid;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #000000;
    padding-left: 50px;
    
}

.nav-list ul li a:hover {
    text-decoration: underline;
}
.log-sign-in{
    padding-left: 200px;
}

/* logo selector */
.logo img {
    cursor: pointer;
}


/* search-box selector */
.search-box {
    position: relative;
    margin-left: 0.2rem;
}

.search-box i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.search-box input {
    padding: 10px 30px;
    border-radius: 50px;
}

/* navigation list selector */

.nav-list ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 1.8rem;
}


/* log and sign in selector */

.log-sign-in {
    margin-left: 3rem;
}

.log-sign-in ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 5px;
}

.log-sign-in .login a {
    border: solid;
    padding: 10px 15px;
    border-radius: 5px;
}

.log-sign-in .signin a {
    color: #FFFFFF;
    background-color: #000000;
    border: solid;
    padding: 10px 15px;
    border-radius: 5px;
}

.firstHeader {
    text-align: center;
    font-size: 60px;
    margin-top: 5%;
    margin-bottom: 8%;
    font-weight: 120px;
    width: 100%;

}

hr {
    height:1px;
    width:80%;
    margin-top: 5%;
    margin-left:10%;
    background-color:black;
}



/*--ABOUT US-----------------------------------*/
.abt-container{
    max-width: 100%;
    flex-wrap: wrap;
}

.aboutuspic img{
    width: 100%;
    position: relative;
    text-align: center;
    
}
.front{
    width: 190.3%;
}
.abt-container{
    display: flex;
    max-width: 100%;
}
.pic1{
    margin-left: 350px;
    margin-right: 50px;
    width: 500px;
    margin-bottom: 200px;
}
.aboutus-heading h6{
    margin-left: 30px;
}
.abt-desc {
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-right: auto;
    
}
.whoweare-heading h3{
    margin-bottom: 20px;



}
.aboutus-heading {
	font-family: 'Inter', sans-serif;
    margin-top: center;
    font-size: 25px;
	color: #326BA0;
}
/*--WHO WE ARE PARAGRAPHS------------------*/
.whoweare-heading h3{
	font-family: 'Roboto', sans-serif;
    margin-top: center;
    font-size: 35px;
	color: #1E1E1E;
	line-height: 55.08px;
}
.whoweare-text p{
    font-family: 'Inter', sans-serif;
    font-size: 23px;
	color: #1E1E1E;
	line-height: 55.08px;
    font-weight: 500;
}
.goal-heading h6 {
    font-family: 'Inter', sans-serif;
    margin-top: center;
    font-size: 18px;
	color: #326BA0;
    margin-right: 1100px;

}
.goal-container {
    display: flex;
    width: 80%;
}
.goal-desc p{
    margin-left: 350px;
    margin-right: 50px;
    width: 700px;
    margin-bottom: 200px;  
    font-family: 'Inter', sans-serif;
    font-size: 23px;
	color: #1E1E1E;
	line-height: 55.08px;
    font-weight: 500;
}
.pic2{
    width: 500px;
    margin-left: 100px;
    margin-bottom: 100px;
}
.emp-heading h3{
    font-family: 'Roboto', sans-serif;
    margin-top: center;
    font-size: 35px;
	color: #1E1E1E;
	line-height: 55.08px;
    margin-right: 500px;
}
.cmt-heading h3{
    font-family: 'Inter', sans-serif;
    margin-top: center;
    font-size: 40px;
	color: #1E1E1E;
	line-height: 55.08px;
    font-weight:bold;
    margin-left: 70px;
}
.cmt-container {
    max-width: 100%;
    
}
.cmt-pics {
    display: flex;
    width: 60%;
}
.circle1{
    padding: 50px;
    margin-left: 250px;
    margin-bottom: 20px;
}
#circle1{
    margin-left: 40px;
}
.circle2{
    padding: 50px;
    padding-bottom: 20px;
    margin-bottom: 60px;
    margin-right: 50px;
    margin-left: 25px;
}
#circle2{
    margin-right: 10px;
}
.circle3{

    padding-top:  50px;
    margin-right: 80px;
    margin-top: 10px;
    margin-left: 30px;
    
}
.circle1 p{
    font-family: 'Inter';
    font-size: 25px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    
}
.circle2 p {
    font-family: 'Inter';
    font-size: 25px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;

}
.circle3 p {
    font-family: 'Inter';
    font-size: 25px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
}
.circle1-p {
    width: 400px;
}
.circle2-p {
    margin-top: 10px;
}
.circle3-p {

    margin-left: 20px;
    margin-top: 5px;
}


/* team */
.team-sec{
    padding: 5px 5%;
    margin-top: 200px;
}
.team-header{
    max-width: 100%;
}
.team-header h3{
    text-align: center;
    font-size: 60px;
    margin-top: 5%;
    margin-left: 12%;
    padding-bottom: 60px; 
    font-weight: 120px;
    width: 80%;
}
.team-header p{
    font-family: Inter;
    font-size: 25px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    color: #667085;
    width: 50%;
    margin-left: 450px;
    padding-bottom: 100px;



    
}
.team-container .box {
    width: 240px;
    background: #FFFFFF;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 30px;
    height: 400px;
    display: inline-block;
    margin-left: 80px;

}
.team-container .box img{
    margin-bottom: 20px;
    max-height:100%;
    max-width: 100%;
    object-fit: cover;
}
.team-container .box .title{
    padding: 5px 20px;
    opacity: 0.8;
    text-align: center;
}
.team-container .box .name{
    font-weight: 900;
    font-size: 20px;
    color: #424144;
    padding: 20px;
    text-align: center;
}

.team-container .box .btn{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    border-radius: 10px;
    padding: 5px;
   margin-left: 55px;
   width: 130px;
   border:none;
}

.team-container .box .btn:hover{
cursor: pointer;
background-color: rgb(163, 163, 163);
}

























/*--ARTICLE IMG & PARAGRAPHS------------------*/
.article-img {
    width: 100%;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 2%;
}
.article-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
    object-fit: cover;
    object-position: center;
}


/*--ARTICLE TEXT-------------------------------*/
.article-text {
    font-size: 22px;
}


/*--ARTICLE LINK-------------------------------*/
.article-link {
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
}

.article-link p {
    font-size: 20px;
}

.article-link a {
    margin-left: 3%;
    font-size: 20px;
}



/*--BOTTOM SEARCH BOX--------------------------*/
.bottom-search-box {
    position: relative;
    margin: 20% 0 10% 30%;
}

.bottom-search-box input {
    padding-left: 2%;
    font-size: 20px;
    width: 40%;
    height: 9vh;
}

.button {
    margin-left: -0.5%;
    font-size: 20px;
    width: 15%;
    height: 9.5vh;
    background-color: darkgrey;
}



/*--FOOTER-------------------------------------*/
.row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.footer-container {
    position: relative;
    width: calc(100%/12 * 12);
    background-color: rgb(165, 208, 230);
}
.footer-container h5 {
    font-size: 25px;
}

.pages {
    position: relative;
    width: calc(100%/12 * 3);
    box-sizing: border-box;
    padding: 5%;
    height: 55vh;
}
.pages p {
    padding-top: 10%;
    font-size: 20px;
}

.latest-article {
    position: relative;
    width: calc(100%/12 * 4);
    box-sizing: border-box;
    padding-top: 5%;
    height: 55vh;
}

.socmed {
    position: relative;
    width: calc(100%/12 * 5);
    box-sizing: border-box;
    padding: 5%;
    height: 30vh;
}

.socmed-icon{
    display: flex;
}

.socmed-icon a {
    text-decoration: none;
    padding: 2%;
    margin: 1%;
    border-radius: 50%;

}

.socmed-icon a i {
    font-size: 2em;
    color: black;
}

/*--HOVER EFFECT ON ICONS---------*/
.socmed-icon a:hover {
    background-color: black;
    transition: 0.5s;
}

.socmed-icon a:hover i{
    color: white;
    transition: 0.5s;
}



/*--COPYRIGHT-----------------------------*/
.copyright {
    position: center;
    width: calc(100%/12 * 12);
    box-sizing: border-box;
    height: 5vh;
    margin-left: 165%;
    font-size: 20px;
    color: #000000;
}
hr{
    width: 800px;
}

.copyright p {
    text-decoration: none;
}
@media only screen and (max-width: 767px) {
	body {
		font-size: 14px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	body {
		font-size: 28px;
	}
}

@media only screen and (max-width: 1024px) {
	body {
		font-size: 56px;
	}
}