* {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.first-container {
    position: relative;
    width: calc(100% / 12 * 12);
    background-color: yellow;
}