@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    font-family: 'Inter', sans-serif;
    width: calc(100% / 12 * 12);
}

.navbar {
    width: calc(100% / 12 * 12);
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: solid;
    overflow: hidden;
}

.navbar ul li a {
    height: 100%;
    text-decoration: none;
    color: #000000;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;

}

.nav-list ul li a:hover {
    background-color: rgb(165, 208, 230);
}


/* logo selector */
.logo img {
    cursor: pointer;
}


/* search-box selector */
.search-box {
    position: relative;
    margin-left: 1%;
}

.search-box i {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    cursor: pointer;
}

.search-box input {
    padding: 6% 30%;
    border-radius: 50px;
}

/* navigation list selector */
.nav-list {
    width: calc(100% / 12 * 6);
    margin-left: 10%;
}
.nav-list ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 2%
}


/* log and sign in selector */
.log-sign-in {
    width: calc(100% / 12 * 3);
    border: solid;
}

.log-sign-in ul li {
    list-style-type: none;
    display: inline-block;
}

.log-sign-in .login a {
    width: 80%;
    border: solid;
    padding: 15%;
    border-radius: 5px;
}

.log-sign-in .signin a {
    width: 90%;
    color: #FFFFFF;
    background-color: #000000;
    border: solid rgb(255, 255, 255);
    padding: 15%;
    margin-left: 30%;
    border-radius: 5px;
}

.log-sign-in .menu-icon a {
    margin-left: 6em;
    font-size: 1.5em;
    text-decoration: none;
    color: #000000;
}


/*--SIDEBAR--------------------------------*/
.menu-icon {
    display: none;
}
.menu-icon a {
    margin-left: 10em;
    font-size: 1.5em;
    text-decoration: none;
    color: #000000;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 20%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
    padding: 5%;
    font-size: 20px ;
}


.img-and-heading p {
    text-align: center;
    font-size: 60px;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 10%;
    font-weight: 120px;
    width: calc(100% / 12 * 8.6);
}



hr {
    height: 1px;
    width:80%;
    margin-top: 5%;
    margin-left:10%;
    background-color:black;
}



/*--ARTICLES-----------------------------------*/
.article-container {
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}
.article-heading {
    margin-top: 7%;
    font-size: 30px;
}



/*--SOCMED NAV--------------------------------*/
.article-socmed {
    margin-left: 65%;
    margin-top: 1%;
}

.article-socmed ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 1%;

}

.article-socmed .facebook a {
    text-decoration: none;
    border: solid 1px;
    padding: 10px;
    color: #000000;
}

.article-socmed .twitter a {
    text-decoration: none;
    border: solid 1px ;
    padding: 10px;
    color: #000000;
}

.article-socmed .insta a {
    text-decoration: none;
    border: solid 1px;
    padding: 10px;
    color: #000000;
}

.article-socmed .copy a {
    text-decoration: none;
    border: solid 1px;
    padding: 10px;
    color: #000000;
}

/*--SOCMED NAV HOVER EFFECT----*/
.article-socmed a:hover {
    background-color: rgb(165, 208, 230);
    transition: 0.5s;
}

.article-socmed a:hover i {
    color: white;
    transition: 0.5s;
}



/*--USER DETAILS------------------------------*/
.user-profile {
    display: flex;
    padding-bottom: 1%;
    border-bottom: solid 1px lightgrey;
}
.user-profile img {
    display: block;
    border: solid 2px black;
    border-radius: 50px;
    width: 4%;
    height: 50%;
    object-fit: cover;
    object-position: center;
}

.user-name {
    margin-top: 0.7%;
    margin-left: 1.5%;
}
.user-name p {
    font-size: 13px;
    color: gray;
}



/*--ARTICLE IMG------------------------------*/
.article-img {
    width: 100%;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 2%;
}
.article-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
    object-fit: cover;
    object-position: center;
}


/*--ARTICLE TEXT-------------------------------*/
.article-text {
    font-size: 22px;
}


/*--ARTICLE LINK-------------------------------*/
.article-link {
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
}
.article-link p {
    font-size: 20px;
}

.article-link a {
    margin-left: 3%;
    font-size: 20px;
}



/*--BOTTOM SEARCH BOX--------------------------*/
.bottom-search-box {
    position: relative;
    margin: 20% 0 10% 30%;
}

.bottom-search-box input {
    padding-left: 2%;
    font-size: 20px;
    width: 40%;
    height: 9vh;
}

.button {
    margin-left: -0.5%;
    font-size: 20px;
    width: 15%;
    height: 9.5vh;
    background-color: darkgrey;
}



/*--FOOTER-------------------------------------*/
.row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.footer-container {
    position: relative;
    width: calc(100%/12 * 12);
    background-color: rgb(165, 208, 230);
}
.PLS {
    position: relative;
    width: calc(100%/12 * 12);
    box-sizing: border-box;
    height: 60vh;
}

.label {
    font-size: 30px;
    font-weight: bold;
}

.pages {
    position: relative;
    width: calc(100%/12 * 3);
    box-sizing: border-box;
    padding: 5%;
}

.pages ul li {
    display: grid;
    font-size: 25px;
    margin-top: 15px;
}

.latest-article {
    position: relative;
    width: calc(100%/12 * 4);
    box-sizing: border-box;
    padding: 5%;
}

.socmed {
    position: relative;
    width: calc(100%/12 * 5);
    box-sizing: border-box;
    padding: 5%;
}

.socmed-icon{
    display: flex;
}

.socmed-icon a {
    text-decoration: none;
    padding: 2%;
    margin: 2%;
    border-radius: 50%;

}

.socmed-icon a i {
    font-size: 2em;
    color: black;
}


/*--HOVER EFFECT ON ICONS---------*/
.socmed-icon a:hover {
    background-color: black;
    transition: 0.5s;
}

.socmed-icon a:hover i{
    color: white;
    transition: 0.5s;
}

.footer-line {
    position: relative;
    width: calc(100%/12 * 41);
    margin-bottom: 15%;
    margin-left: 8%;
    border-bottom: solid 2px gray;
}



/*--COPYRIGHT-----------------------------*/
.copy-container {
    position: relative;
    width: calc(100%/12 * 27);
}

.copyright {
    position: relative;
    width: calc(100%/12 * 12);
    box-sizing: border-box;
    height: 5vh;
    font-size: 20px;
    color: #000000;
}

.copyright p {
    float: right;
}




@media (max-width: 975px){

    .hideOnMobile {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}


/* .navbar ul li a {
    text-decoration: none;
    color: #000000;
}

.nav-list ul li a:hover {
    text-decoration: underline;
} */