@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100vh;
}

.navbar {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: solid;
}

.navbar ul li a {
    text-decoration: none;
    color: #000000;
}

.nav-list ul li a:hover {
    text-decoration: underline;
}

/* logo selector */
.logo img {
    width: 100%;
    cursor: pointer;
}


/* search-box selector */
.search-box {
    position: relative;
    margin-left: 1.5rem;
}

.search-box i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.search-box input {
    padding: 10px 30px;
    border-radius: 50px;
}

/* navigation list selector */

.nav-list ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 1.5rem;
}


/* log and sign in selector */

.log-sign-in {
    margin-left: 2rem;
}

.log-sign-in ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 5px;
}

.log-sign-in .login a {
    border: solid;
    padding: 10px 15px;
    border-radius: 5px;
}

.log-sign-in .signin a {
    color: #FFFFFF;
    background-color: #000000;
    border: solid;
    padding: 10px 15px;
    border-radius: 5px;
}

/* body */

.img-bg {
    position: relative;
    width: calc(100%/12*12);
    min-height: 72.4%;
    background-image: url(../Images/aboutus-bg.png);
    background-size: cover;
    background-position: center;
}

.text-1-heading, .text-2,.text-3 {
    position: relative;
    width: calc(100%/12*12);
    margin: 5rem 0;
    height: auto;
    /* background-color: aqua; */
}

.text-1-heading > div, h2 , .text-2,.text-3{
    text-align: center;
    padding: 1rem 0;
}

.text-1-heading h2, .text-2 h2 , .text-3 h2{
    font-size: 2.5em;
}

/* contact form */
.contact-form {
    position: relative;
    width: calc(80%/12*12);
    height: 85vh;
    margin: 1rem 8.5rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.float-text {
    position: absolute;
    background-color: #000000;
    width: 40%;
    height: 80vh;
    margin: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}


.text-info, .infos, .socmed-icons {
    margin: 3rem 2rem;
}

.text-info h3,p, infos p{
    padding-bottom: 0.5rem;
}

.socmed-icons {
    margin-top: auto;
}

.float-text h3, .infos, .socmed-icons a i{
    color: #FFFFFF;
}

.socmed-icons a i {
    font-size: 1.5em;
    margin-right: 0.5rem;
}

/* form */
.input-form {
    position: absolute;
    width: 56%;
    height: 71vh;
    margin-left: 27rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
}

.info-input {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem 1rem;
    gap: 25%;
}

.info-input input {
    padding-right: 2.4rem;
    border: none;
    outline: none;
    border-bottom: solid;
}


.message-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-top: 6rem;
}

.message-form input {
    border: none;
    outline: none;
    border-bottom: solid;
}

.submit-btn {
    margin-top: 1rem;
    text-align: right;
}

.submit-btn input {
    padding: 1rem 2rem;
    background-color: #000000;
    color: #FFFFFF;
    cursor: pointer;
}

/* map */
.map iframe {
    width: calc(100%/12*11.9);
    height: 80vh;
}

/* FAQ */

.btn-accordion {
    position: relative;
    width: calc(90%/12*12);
    background-color: #eee;
    margin-left: 4rem;
    text-align: left;
    border: none;
    outline: none;
    padding: 2rem;
    font-size: 1.3em;
    transition: 0.5s;
    cursor: pointer;
}

.active, .btn-accordion:hover {
    background-color: #ccc;
}

i {
    position: absolute;
    margin-left: -3rem;
    margin-top: 2rem;
    cursor: pointer;
}

.panel p{
    width: calc(90%/12*12);
    margin-left: 4rem;
    text-align: justify;
    font-size: 1em;
    overflow: hidden;
}

