@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100vh;
}

/* content */
.content-1 {
    width: 100%;
    min-height: 72.4%;
    background-image: url(../Images/guidebg1.png);
    background-size: cover;
    background-position: center;
}

.content-2, .content-4 {
    display: grid;
    width: 70%;
    height: 30vh;
    margin-left: 12rem;
    place-items: center;
    text-align: center;
    /* border: solid; */
}

.content-2 h2, .content-4 h2 {
    font-size: 2.5em;
}

.content-3 {
    width: 90%;
    min-height: auto;
    margin: 3rem 5rem;
    /* margin-left: 5rem;
    margin-top: 3rem; */

}

.content-3 h3 {
    font-weight: bolder;
    margin-bottom: 1.5rem;
}

.left-right-side {
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-bottom: solid;
    margin-bottom: 5rem;
}

.left-side iframe{
    margin-bottom: 2rem;
}

.left-side a {
    text-decoration: none;
    border: solid;
    background-color:#000000;
    color: #FFFFFF;
    border-radius: 30px;
    padding: 1rem 1.5rem;

}

.left-side a i {
    margin-left: 0.5rem;
}

.right-side {
    line-height: 1.3;
    text-align: justify;
}

.left-right-side:last-child {
    border: none;
}

/* Footer Selector */
.footer {
    width: 100%;
    height: 40vh;
    background-color: #AAD1E5;
}
.row {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}

.pages, .latest-article, .socmed {
    margin: 2rem;
}

.pages {
    display: flex;
    flex-direction: column;
}

.pages h3 {
    margin-bottom: 0.5rem;
}

.pages a {
    text-decoration: none;
    color: #000000;
    margin-bottom: 0.5rem;
}

/* .socmed {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
} */


.copyright {
    display: grid;
    place-items: center;
}

.copyright p {
    text-decoration: none;
    color: #000000;
}




