@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
margin: 0;
padding: 0;
}

	body {
           
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
			width: 100%;
            background-image: url('bg.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-color: #f4f4f4;
			font-family: 'Inter', sans-serif;
        }

        .container {
			font-family: 'Inter', sans-serif;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 16px;
            text-align: left;
            width: 40%;
        }

        h2 {
            margin-bottom: 20px;
            color: #333;
			text-align: center;
			font-family: 'Inter', sans-serif;
        }

        .google-btn {
            background-color: #E3E3E3 #F9F9F9;
			text-align: center;
            color: #000000;
            padding: 12px;
			width: 70%;
            border: 1px 1px 2px 1px solid #E3E3E3;
			border-color: #E3E3E3;
            cursor: pointer;
            border-radius: 20px;
			margin-top: 10px;
			margin-bottom:30px;
			margin-left: 14%;
			font-family: 'Inter', sans-serif;
			font-weight: bold;
        }
		
		.password{
			position: relative;
			margin-bottom: 1.25rem;
    
		}
		.pass{
			display: flex;
		}
		.Pass1{
			margin-left: 240px;
			opacity: 0.5;
		}
		.Pass2{
			margin-left: 5px;
			opacity: 0.5;
		}

        input {
            width: calc(100% - 22px); /* Adjusted width for password input */
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .note {
            color: #777;
            font-size: 12px;
            margin-bottom: 10px;
        }

        .create-btn {
  
    margin-left: 15%;
    font-size: 15px;
    width: 70%;
    height: 50px;
    background-color: darkgrey;
    border-radius: 20px;
    background-color: #844D26;
    color: #FFFFFF;
    border: none;
    margin-top: 0px;
    margin-bottom: 40px;
	font-family: 'Inter', sans-serif;
			
        }
	.last{
    display: flex;
}
	.account p{
    margin-left: 160px;
    color:black;

}
	.login p{
    margin-right: 60px;
    color:#ff0000;
    font-weight:600;
	}
	.hide{
    border: none;

}
	.hide:hover{
    cursor: pointer;
    text-decoration: underline;
}


  .container form input{
    border: none;
    border-bottom: 1px solid lightgrey;
  }
  /*.container form button, .container form .login-text{
    poosition: relative;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }*/