* {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: calc(100% / 12 * 12);
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background-color: yellow;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}


/*------------HEADER SECTION----------------*/
.header-section {
    position: relative;
    width: calc(100%/12 *12);
    background-color: rgb(111, 111, 101);
}

.logo {
    position: relative;
    width: calc(100%/12 * 1);
    height: 10vh;
    margin: 0.5%;
    background-color: rgba(203, 0, 0, 0.8);
    text-align: center;
}

.search-box {
    position: relative;
    width: calc(100%/12 * 2);
    height: 10vh;
    margin: 0.5% 0.5% 0.5% 0;
    background-color: rgba(203, 0, 0, 0.8);
    text-align: center;
}

.nav-list {
    position: relative;
    width: calc(100%/12 * 6.5);
    height: 10vh;
    margin: 0.5% 0.5% 0.5% 0;
    background-color: rgba(203, 0, 0, 0.8);
    text-align: center;
}

.log-sign-in {
    position: relative;
    width: calc(100%/12 * 1.5);
    height: 10vh;
    margin: 0.5% 0.5% 0.5% 0;
    background-color: rgba(203, 0, 0, 0.8);
    text-align: center;
}

.menu-icon {
    position: relative;
    width: calc(100%/12 * 0.5);
    height: 10vh;
    margin: 0.5% 0.5% 0.5% 0;
    background-color: rgba(203, 0, 0, 0.8);
    text-align: center;
}


/*---------------IMAGE AND HEADING SECTION------------------*/
.img-heading-section img{
    position: relative;
    display: block;
    width: calc(100% / 12 * 12);
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}

.heading-text {
    position: relative;
    text-align: center;
    font-size: 5ex;
    margin: 7% 10% 10% 10%;
    background-color: aquamarine;
}


/*-------------ARTICLE CONTENTS SECTION-----------------*/
.article-section {
    position: relative;
    width: calc(100% / 12 * 12);
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgb(52, 189, 230);
}

.article-heading {
    position: relative;
    width: calc(100%/ 12 * 5);
    font-size: 3ex;
    background-color: chartreuse;
}

/*------------SOCMED NAVIGATION-------------*/
.socmed-nav{
    position: relative;
    width: calc(100%/12 * 12);
    background-color: darkred;
}

.socmed-nav a {
    text-decoration: none;
}

.facebook {
    position: relative;
    width: calc(100%/12 * 1);
    box-sizing: border-box;
    margin-left: 60%;
    height: 6vh;
    background-color: rgb(208, 26, 160);
    text-align: center;
}

.twitter {
    position: relative;
    width: calc(100%/12 * 1);
    box-sizing: border-box;
    margin-left: 1%;
    height: 6vh;
    background-color:  rgb(208, 26, 160);
    text-align: center;
}

.insta {
    position: relative;
    width: calc(100%/12 * 1);
    box-sizing: border-box;
    margin-left: 1%;
    height: 6vh;
    background-color:  rgb(208, 26, 160);
    text-align: center;
}

.copy {
    position: relative;
    width: calc(100%/12 * 1);
    box-sizing: border-box;
    margin-left: 1%;
    height: 6vh;
    background-color:  rgb(208, 26, 160);
    text-align: center;
}



/*----------UPLOADER DETAILS-------------*/
.uploader-details {
    position: relative;
    width: calc(100%/12 * 12);
    background-color: crimson;
}

.user-profile img {
    position: relative;
    border: solid 2px black;
    border-radius: 50%;
}

.user-name-date {
    position: relative;
    margin-left: 1.5%;
    margin-top: 0.5%;
    background-color: chocolate;
}
.name {
    position: relative;
    font-size: 1.5ex;
    font-weight: bold;
}
.date {
    position: relative;
    font-size: 1ex;
}

/*-------------ARTICLE IMAGE AND CONTEXT---------------*/
.article-image img {
    position: relative;
    display: block;
    width: calc(100% / 12 * 8);
    height: 60vh;
    margin: 3% auto 0 auto;
}

.article-text .text {
    position: relative;
    justify-content: center;
    margin-top: 3%;
    background-color: darkgreen;
}


/*---------------ARTICLE LINK------------------*/
.article-link {
    position: relative;
    width: calc(100% / 12 * 10);
    margin: 5% 0 0 5%;
    background-color: rgb(203, 71, 71);
}






@media only screen and (max-width: 767px) {
    body {
        font-size: 10px;
    }

    .left {
        position: relative;
        width: calc(100% / 12 * 12);
        box-sizing: border-box;
    }
    
    .right {
        position: relative;
        width: calc(100% / 12 * 12);
        box-sizing: border-box;
        margin-left: 0%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        font-size: 22px;
    }
}