<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/article.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="shortcut icon" href="../Images/finalLogo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>CSGuide |  Article</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="logo-container">
                <img src="../Images/finalLogo.png" alt="logo" width="100px" height="110px">
                <h3>COLLEGE <br> SURVIVAL GUIDE</h3>
            </div>
            <nav>
                <ul>
                    <li><a href="Home.html">HOME</a></li>
                    <li><a href="article.html">ARTICLES</a></li>
                    <li><a href="Guide.html">GUIDE</a></li>
                    <li><a href="tools.html">TOOLS</a></li>
                    <li><a href="aboutus.html">ABOUT US</a></li>
                    <li><a href="contactus.html">CONTACT US</a></li>
                    <li></li>
                    <li><a href="logout.php">LOG OUT</a></li>
                </ul>
            </nav>
            <span onclick="openNavModal()"><i class="fa-solid fa-bars"></i></span>
            <!-- Modal -->
            <div id="navModal" class="modal">
                <div class="modal-content">
                    <ul>
                        <li><a href="Home.html">HOME</a></li>
                        <li><a href="article.html">ARTICLES</a></li>
                        <li><a href="Guide.html">GUIDE</a></li>
                        <li><a href="tools.html">TOOLS</a></li>
                        <li><a href="aboutus.html">ABOUT US</a></li>
                        <li><a href="contactus.html">CONTACT US</a></li>
                        <li></li>
                        <li><a href="logout.php">LOG OUT</a></li>
                    </ul>
                    <span onclick="closeNavModal()">&times;</span>
                </div>
            </div>
        </header>

        <!-- content starts here -->
        <main>
            <!-- bg main -->
            <div class="bg-main">

            </div>

            <!-- text 1 -->
            <div class="text-1">
                <h1>Explore Articles for Student Success at College Survival Guide</h1>
            </div>

            <!-- article content -->
            <div class="article-container">
                <!-- article 1 -->
                <div class="article-group">
                    <h1>10 College Survival Tips</h1>
                    <img src="../Images/survival.png" alt="">
                    <p>This is an article about tips for freshmen in college. It discusses making the most of the college experience. The
                    article suggests getting involved in activities, talking to professors, and taking responsibility for your own learning.
                    It also emphasizes the importance of time management and organization.</p>
                    <a href="https://www.signupgenius.com/College/college-survival-tips.cfm">Continue Reading</a>
                </div>
                <!-- article 2 -->
                <div class="article-group">
                    <h1>5 Tips for How to Survive College</h1>
                    <img src="../Images/student.png" alt="">
                    <p>This is an article about tips for surviving college. It discusses time management, building a support network,
                    practicing self-care, seeking academic support, and embracing balance and enjoyment. The article emphasizes the
                    importance of finding a system that works for you and utilizing available resources.</p>
                    <a href="https://www.thestreet.com/review/college-survival-tips">Continue Reading</a>
                </div>
                <!-- article 3 -->
                <div class="article-group">
                    <h1>College: How do I Survive?</h1>
                    <img src="../Images/studentStress.png" alt="">
                    <p>This article serves as a comprehensive survival guide for college students, offering tips and strategies to navigate the
                    challenges of academia. It's structured into three key phases: Before, During, and After the semester. Prior to the
                    start of classes, the guide stresses the importance of familiarizing oneself with the campus layout. It recommends
                    taking campus tours or exploring independently to locate essential facilities and understand the layout, ensuring
                    students avoid feeling lost on the first day of classes. Even for returning students, the suggestion to revisit the
                    campus arises, acknowledging that changes such as new buildings or renovations could have occurred.</p>
                    <a href="https://betterhumans.pub/college-how-do-i-survive-9aa4c92ca30d">Continue Reading</a>
                </div>
                <!-- article 4 -->
                <div class="article-group">
                    <h1>A Freshman’s Guide To College Life In the Philippines</h1>
                    <img src="../Images/library.png" alt="">
                    <p>This is an article about tips for freshmen in college in the Philippines. It discusses attending school orientations,
                    managing finances, staying healthy, and joining clubs. It is important to familiarize yourself with the campus and know
                    the different routes to get to and from school. Attending school orientations will help you meet new people and learn
                    about available student services. It is also important to manage your finances and create a budget. Eating healthy foods
                    and getting enough sleep are important for staying healthy. Joining clubs and organizations is a great way to get
                    involved in campus life.</p>
                    <a href="https://www.signupgenius.com/College/college-survival-tips.cfm">Continue Reading</a>
                </div>

            </div>
            <!-- programmable search -->
            <iframe src="testing.html" width="100%" height="10%" frameborder="0"></iframe>
        </main>

        <!-- footer -->
        <footer>
            <div class="footer-section">
                <div class="row">
        
                    <!--PAGES TAB-->
                    <div class="section">
                        <h1 class="section-label">Pages</h1>
                        <div class="pages-link">
                            <a href="Home.html">Home</a>
                            <a href="article.html">Article</a>
                            <a href="tools.html">Tools</a>
                            <a href="Guide.html">Guide</a>
                            <a href="aboutus.html">About Us</a>
                            <a href="contactus.html">Contact Us</a>
                        </div>
                    </div>
        
                    <!--LATEST ARTICLE TAB-->
                    <div class="section">
                        <h1 class="section-label">Latest Articles</h1>
                    </div>
        
                    <!--SOCIAL MEDIAS TAB-->
                    <div class="section">
                        <h1 class="section-label">Social Media</h1>
                        <div class="socmed-icons">
                            <a href=""><i class="fa-brands fa-facebook"></i>
                                <a href=""><i class="fa-brands fa-twitter"></i>
                                    <a href=""><i class="fa-brands fa-square-instagram"></i>
                                        <a href=""><i class="fa-brands fa-youtube"></i></a>
                        </div>
        
                        <span class="policy-terms">
                            <a href="">Privacy Policy | Terms and Condition</a>
                        </span>
                    </div>
        
                </div>
            </div>
        
            <!--COPYRIGHT-->
            <div class="copy-container">
                <div class="copyright-text">Copyright &copy; Team Awa BSIT S.Y. 2023-2024</div>
            </div>
        </footer>
    </div>
</body>
<script src="../js/modals.js"></script>
</html>