<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/contactus.css">
    <link rel="shortcut icon" href="../Images/finalLogo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>CSGuide | Contact Us</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="logo-container">
                <img src="../Images/finalLogo.png" alt="logo" width="100px" height="110px">
                <h3>COLLEGE <br> SURVIVAL GUIDE</h3>
            </div>
            <nav>
                <ul>
                    <li><a href="Home.html">HOME</a></li>
                    <li><a href="article.html">ARTICLES</a></li>
                    <li><a href="Guide.html">GUIDE</a></li>
                    <li><a href="tools.html">TOOLS</a></li>
                    <li><a href="aboutus.html">ABOUT US</a></li>
                    <li><a href="contactus.html">CONTACT US</a></li>
                    <li></li>
                    <li><a href="logout.php">LOG OUT</a></li>
                </ul>
            </nav>
            <span onclick="openNavModal()"><i class="fa-solid fa-bars"></i></span>
            <!-- Modal -->
            <div id="navModal" class="modal">
                <div class="modal-content">
                    <ul>
                        <li><a href="Home.html">HOME</a></li>
                        <li><a href="article.html">ARTICLES</a></li>
                        <li><a href="Guide.html">GUIDE</a></li>
                        <li><a href="tools.html">TOOLS</a></li>
                        <li><a href="aboutus.html">ABOUT US</a></li>
                        <li><a href="contactus.html">CONTACT US</a></li>
                        <li></li>
                        <li><a href="logout.php">LOG OUT</a></li>
                    </ul>
                    <span onclick="closeNavModal()">&times;</span>
                </div>
            </div>
        </header>

        <main>
            <!-- bg main -->
            <div class="bg-main">

            </div>

            <!-- text 1 -->
            <div class="text-1">
                <h1>Get in Touch</h1>
                <p>Have a question or comments? Drop us a message; we're here to help!</p>
            </div>

            <div class="contact-us-container">
                <div class="contact-details">
                    <div class="title">
                        <h2>Contact Information</h2>
                        <p>Say something to start a live chat</p>
                    </div>
                    <div class="infos">
                        <p><i class="fa-solid fa-phone-volume"></i>&nbsp;&nbsp;+1012 3456 789</p>
                        <p><i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;iapply@pup.edu.ph</p>
                        <p><i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;837H+C88, Biñan, Laguna</p>
                    </div>
                    <div class="logos">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-square-instagram"></i>
                        <i class="fa-brands fa-square-x-twitter"></i>
                    </div>
                    <img class="elipse1" src="../Images/Ellipse 793.png" alt="">
                    <img class="elipse2" src="../Images/Ellipse 794.png" alt="">
                </div>
                <div class="contact-form">
                    <!-- form -->
                    <form action="contact.php" method="POST">
                        <label for="fullName">Name</label><br>
                        <input type="text" name="name" id="name"><br>
                        <label for="email">Email</label><br>
                        <input type="email" name="email" id="email"><br>
                        <label for="message">Message</label><br>
                        <input type="text" name="message" id="message"><br>
                        <button type="submit">Send Message</button>
                    </form>
                </div>
            </div>

            <!-- Map -->
            <div class="map">
                <div class="map-text">
                    <h1>Map</h1>
                    <p>Locate us easily and discover our physical presence a guiding hand on your college journey.</p>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3865.96372878783!2d121.0757624743127!3d14.313539686139432!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397d77dec99259b%3A0x85e6a0648bf24d87!2sPolytechnic%20University%20of%20the%20Philippines%20Bi%C3%B1an!5e0!3m2!1sen!2sph!4v1702920768312!5m2!1sen!2sph" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>

            <!-- FAQ -->
            <div class="faq">
                <div class="text-3">
                    <h1>Frequenty Asked Questions (FAQ's)</h1>
                </div>

                <div class="acc-container">
                    <div class="acc-title">
                        <h3 onclick="accMove()"><i class="fa-solid fa-circle"></i>How can I improve my time management skills while
                            balancing academics and extracurricular activities?</h3>
                    </div>
                    <div class="acc-content">
                        <p>Effective time management is crucial for success in college. Here are some tips: Create a schedule that
                            prioritizes
                            tasks, allocating time for studying, classes, and extracurriculars. Break down tasks into smaller,
                            manageable chunks and
                            avoid overcommitting to ensure a balanced workload.</p>
                    </div>
                </div>

                <div class="acc-container">
                    <div class="acc-title">
                        <h3 onclick="accMove()"><i class="fa-solid fa-circle"></i>Are there tips or strategies available to cope with
                            stress and maintain mental well-being during college?</h3>
                    </div>
                    <div class="acc-content">
                        <p>College life can be stressful, so prioritizing mental well-being is essential. Practice self-care by getting
                            enough
                            sleep, exercising regularly, and eating healthily. Consider stress-relief techniques like mindfulness, deep
                            breathing,
                            and seeking support from friends, family, or campus counseling services.</p>
                    </div>
                </div>

                <div class="acc-container">
                    <div class="acc-title">
                        <h3 onclick="accMove()"><i class="fa-solid fa-circle"></i>What resources does the College Survival Guide offer
                            to help with financial planning and managing expenses as a student?</h3>
                    </div>
                    <div class="acc-content">
                        <p>Our College Survival Guide offers valuable resources for financial planning. We provide budgeting tips,
                            advice on
                            managing student loans, information on available scholarships, and strategies for saving money while in
                            college.</p>
                    </div>
                </div>

                <div class="acc-container">
                    <div class="acc-title">
                        <h3 onclick="accMove()"><i class="fa-solid fa-circle"></i>How can I improve my study habits and enhance my
                            academic performance in college?</h3>
                    </div>
                    <div class="acc-content">
                        <p>Enhancing study habits is key to academic success. Consider techniques like active reading, effective
                            note-taking, and
                            creating a study schedule. Use resources such as our study guides and strategies to improve memory retention
                            and
                            critical thinking skills.</p>
                    </div>
                </div>

                <div class="acc-container">
                    <div class="acc-title">
                        <h3 onclick="accMove()"><i class="fa-solid fa-circle"></i>What strategies or advice do you offer for students
                            transitioning to college life, especially for freshmen?</h3>
                    </div>
                    <div class="acc-content">
                        <p>Transitioning to college can be challenging, especially for freshmen. We offer guidance on adapting to campus
                            life,
                            making connections, utilizing campus resources, time management, and maintaining a healthy work-life
                            balance. Our
                            resources aim to ease the transition and ensure a successful college experience.</p>
                    </div>
                </div>
            </div>
        </main>

        <!-- footer -->
        <footer>
            <div class="footer-section">
                <div class="row">

                    <!--PAGES TAB-->
                    <div class="section">
                        <h1 class="section-label">Pages</h1>
                        <div class="pages-link">
                            <a href="Home.html">Home</a>
                            <a href="article.html">Article</a>
                            <a href="tools.html">Tools</a>
                            <a href="Guide.html">Guide</a>
                            <a href="aboutus.html">About Us</a>
                            <a href="contactus.html">Contact Us</a>
                        </div>
                    </div>

                    <!--LATEST ARTICLE TAB-->
                    <div class="section">
                        <h1 class="section-label">Latest Articles</h1>
                        <div class="pages-link">
                            <a href="https://www.signupgenius.com/College/college-survival-tips.cfm">10 College Survival Tips</a>
                            <a href="https://www.thestreet.com/review/college-survival-tips">5 Tips for How to Survive College</a>
                            <a href="https://betterhumans.pub/college-how-do-i-survive-9aa4c92ca30d">College: How do I Survive?</a>
                            <a href="https://www.signupgenius.com/College/college-survival-tips.cfm">A Freshman’s Guide To College Life In the
                                Philippines</a>
                        </div>
                    </div>

                    <!--SOCIAL MEDIAS TAB-->
                    <div class="section">
                        <h1 class="section-label">Social Media</h1>
                        <div class="socmed-icons">
                            <a href=""><i class="fa-brands fa-facebook"></i>
                                <a href=""><i class="fa-brands fa-twitter"></i>
                                    <a href=""><i class="fa-brands fa-square-instagram"></i>
                                        <a href=""><i class="fa-brands fa-youtube"></i></a>
                        </div>

                        <span class="policy-terms">
                            <a href="">Privacy Policy | Terms and Condition</a>
                        </span>
                    </div>

                </div>
            </div>
        </footer>
    </div>
</body>
<script src="../js/modals.js"></script>
<script src="../js/accordion.js"></script>

</html>