<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../Images/finalLogo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/guide.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Guide | CS Guide</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="logo-container">
                <img src="../Images/finalLogo.png" alt="logo" width="100px" height="110px">
                <h3>COLLEGE <br> SURVIVAL GUIDE</h3>
            </div>
            <nav>
                <ul>
                    <li><a href="Home.html">HOME</a></li>
                    <li><a href="">ARTICLES</a></li>
                    <li><a href="Guide.html">GUIDE</a></li>
                    <li><a href="">TOOLS</a></li>
                    <li><a href="">ABOUT US</a></li>
                    <li><a href="">CONTACT US</a></li>
                    <li></li>
                    <li><a href="logout.php">LOG OUT</a></li>
                </ul>
            </nav>
            <span onclick="openNavModal()"><i class="fa-solid fa-bars"></i></span>
            <!-- Modal -->
            <div id="navModal" class="modal">
                <div class="modal-content">
                    <ul>
                        <li><a href="">HOME</a></li>
                        <li><a href="">ARTICLES</a></li>
                        <li><a href="">GUIDE</a></li>
                        <li><a href="">TOOLS</a></li>
                        <li><a href="">ABOUT US</a></li>
                        <li><a href="">CONTACT US</a></li>
                        <li></li>
                        <li><a href="">LOG OUT</a></li>
                    </ul>
                    <span onclick="closeNavModal()">&times;</span>
                </div>
            </div>
        </header>

        <!-- main -->
        <main>
            <!-- main bg -->
            <div class="bg-main">

            </div>

            <!-- text-1 -->
            <div class="text-1">
                <h1>Expert Tips and Strategies for Navigating Your Journey</h1>
                <p>Explore Our Video Guide for College Success. Find expert tips and practical advice tailored to navigate and excel in
                your academic journey at College Survival Guide.</p>
            </div>

            <!-- video container -->
            <div class="video-container">
                <!-- video 1 -->
                <div class="video-group">
                    <div class="video-link">
                        <h2>College Survival Tips I Study Hacks with @JanAngelaMaravilla</h2>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/zaJS1yNZdvs?si=P_QRqXFjeMsGkkW2"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen>
                        </iframe> 
                        <br>
                        <a href="https://www.youtube.com/watch?v=zaJS1yNZdvs">Watch Video</a>
                    </div>
                    <div class="video-text">
                        <p>Meet Jan Angela Maravilla, an accomplished magna cum laude graduate from Ateneo de Manila University, in our
                        illuminating video focusing on indispensable college survival strategies. With her expertise, discover the crucial
                        significance of thoughtful friend selection, establishing impactful connections with professors, and mastering effective
                        time management skills. Jan's insights emphasize the transformative impact of supportive friendships, the value of
                        nurturing relationships with professors for academic growth, and the vital role of time management in balancing academic
                        demands and social engagements. Join us as Jan shares invaluable tips, empowering you to navigate and excel in your
                        college journey.</p>
                    </div>
                </div>
                <!-- video 2 -->
                <div class="video-group">
                    <div class="video-link">
                        <h2>How to get GOOD GRADES and STUDY in college (study tips, habits, advice)</h2>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/UoGSm_EVjy4?si=6bXO_QR2AoQdMz2Y"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                            <br>
                        <a href="https://www.youtube.com/watch?v=UoGSm_EVjy4&t=5s">Watch Video</a>
                    </div>
                    <div class="video-text">
                        <p>Gina's expertise underscores the pivotal role of early preparation in mitigating academic stress and maximizing learning
                        potential. Her emphasis on strategic schedule organization equips students with a proactive approach to managing their
                        coursework efficiently. Additionally, Gina's advocacy for active recall as a study technique cultivates stronger
                        retention and comprehension, fostering a more profound understanding of academic material. Moreover, her emphasis on
                        self-care not only enhances overall well-being but also reinforces the importance of a balanced lifestyle conducive to
                        academic success</p>
                    </div>
                </div>
                <!-- video 3 -->
                <div class="video-group">
                    <div class="video-link">
                        <h2>Unmotivated? The SECRET to study hard NO MATTER WHAT</h2>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/2V4IsA9fWfU?si=UiGlX6zr4UipnnUV"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                            <br>
                        </iframe>
                        <a href="https://www.youtube.com/watch?v=2V4IsA9fWfU&t=11s">Watch Video</a>
                    </div>
                    <div class="video-text">
                        <p>The author advocates maintaining motivation through a long-term focus on goals and nurturing personal drive. Emphasizing
                        the importance of a strong sense of identity and pride, they suggest believing in oneself and seizing opportunities.
                        Strategies include prioritizing long-term results over immediate gratification, identifying personal motivations,
                        embracing one's identity, and staying consistent. Additionally, advice for college survival covers seeking guidance from
                        advisors, being cautious about roommates, gaining experiences through jobs and clubs, seeking help when needed,
                        networking, prioritizing exercise, and finding a balance between studying and other activities.</p>
                    </div>
                </div>
                <!-- video 4 -->
                <div class="video-group">
                    <div class="video-link">
                        <h2>College Survival Guide - Tips & Advice to stay sane</h2>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/mhq8GcKDAjU?si=pRh8MwxIb0aGAhgX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        <br>
                        <a href="https://www.youtube.com/watch?v=mhq8GcKDAjU">Watch Video</a>
                    </div>
                    <div class="video-text">
                        <p>Essential college survival tips include regular communication with advisors for course guidance, cautious roommate
                        selection to avoid conflicts, active involvement in jobs and clubs for resume enrichment, seeking support when needed,
                        extensive networking for diverse opportunities, prioritizing exercise for overall well-being, and maintaining a balanced
                        approach between studies and other activities to prevent burnout. These strategies aim to enhance the college experience
                        and promote a successful academic journey.</p>
                    </div>
                </div>
                <!-- video 5 -->
                <div class="video-group">
                    <div class="video-link">
                        <h2>COLLEGE STUDY TIPS: how to survive finals season, advice from a college graduate</h2>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/SxUuhaDnEXE?si=wokR5dpoHV6ml-tT"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                            <br>
                        <a href="https://www.youtube.com/watch?v=SxUuhaDnEXE">Watch Video</a>
                    </div>
                    <div class="video-text">
                        <p>The speaker, drawing from three years post-graduation, shares insightful advice and experiences, particularly
                        highlighting the effectiveness of Grammarly as an all-in-one writing tool for assignments. The discourse covers various
                        study strategies, emphasizing the significance of a tidy study environment, minimizing distractions, efficient time
                        management, and note-taking techniques for improved retention. Furthermore, the speaker underscores the importance of
                        seeking help, taking breaks, and prioritizing sleep as vital components of effective studying. Encouraging self-care and
                        the application of learned knowledge beyond academia, the speaker stresses the value of balancing academic endeavors
                        with overall well-being for long-term success in college and beyond.</p>
                    </div>
                </div>
            </div>

            <!-- footer -->
            <footer>
                <div class="footer-section">
                    <div class="row">
            
                        <!--PAGES TAB-->
                        <div class="section">
                            <h1 class="section-label">Pages</h1>
                            <div class="pages-link">
                                <a href="#">Home</a>
                                <a href="#">Article</a>
                                <a href="#">Tools</a>
                                <a href="#">Guide</a>
                                <a href="#">About Us</a>
                                <a href="#">Contact Us</a>
                            </div>
                        </div>
            
                        <!--LATEST ARTICLE TAB-->
                        <div class="section">
                            <h1 class="section-label">Latest Articles</h1>
                        </div>
            
                        <!--SOCIAL MEDIAS TAB-->
                        <div class="section">
                            <h1 class="section-label">Social Media</h1>
                            <div class="socmed-icons">
                                <a href=""><i class="fa-brands fa-facebook"></i>
                                    <a href=""><i class="fa-brands fa-twitter"></i>
                                        <a href=""><i class="fa-brands fa-square-instagram"></i>
                                            <a href=""><i class="fa-brands fa-youtube"></i></a>
                            </div>
            
                            <span class="policy-terms">
                                <a href="">Privacy Policy | Terms and Condition</a>
                            </span>
                        </div>
            
                    </div>
                </div>
            
                <!--COPYRIGHT-->
                <div class="copy-container">
                    <div class="copyright-text">Copyright &copy; Team Awa BSIT S.Y. 2023-2024</div>
                </div>
            </footer>
        </main>
    </div>

</body>
<script src="../js/modals.js"></script>
</html>