<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="shortcut icon" href="../Images/finalLogo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Home | CS Guide</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="logo-container">
                <img src="../Images/finalLogo.png" alt="logo" width="100px" height="110px">
                <h3>COLLEGE <br> SURVIVAL GUIDE</h3>
            </div>
            <nav>
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">ARTICLES</a></li>
                    <li><a href="">GUIDE</a></li>
                    <li><a href="">TOOLS</a></li>
                    <li><a href="">ABOUT US</a></li>
                    <li><a href="">CONTACT US</a></li>
                    <li></li>
                    <li><a href="">LOG OUT</a></li>
                </ul>
            </nav>
            <span onclick="openNavModal()"><i class="fa-solid fa-bars"></i></span>
            <!-- Modal -->
            <div id="navModal" class="modal">
                <div class="modal-content">
                    <ul>
                        <li><a href="">HOME</a></li>
                        <li><a href="">ARTICLES</a></li>
                        <li><a href="">GUIDE</a></li>
                        <li><a href="">TOOLS</a></li>
                        <li><a href="">ABOUT US</a></li>
                        <li><a href="">CONTACT US</a></li>
                        <li></li>
                        <li><a href="">LOG OUT</a></li>
                    </ul>
                    <span onclick="closeNavModal()">&times;</span>
                </div>
            </div>
        </header>

        <!-- home page codes starts here -->
        <main>
            <!-- bg main -->
            <div class="bg-main">
                <h1>EMPOWERING <br> YOUR <br> COLLEGE JOURNEY</h1>
            </div>

            <!-- text 1 -->
            <div class="text-1">
                <h1>Empowering Student Success</h1>
                <p>Embark on a transformative journey through college life with College Survival Guide as your compass. Discover essential
                strategies for academic excellence, personal growth, and social engagement within our comprehensive platform.</p>
            </div>

            <!-- card 1 -->
            <div class="card-1">
                <!-- card 1 -->
                <div class="card-group">
                    <div class="img-group">
                        <img src="../Images/pict1.png" alt="pict1">
                    </div>
                    <div class="text-group">
                        <h2>Empower</h2>
                        <p>Empower yourself with tailored resources at College Survival Guide. Gain confidence and skills to conquer academic
                        challenges and emerge stronger.</p>
                    </div>
                </div>
                <!-- card 2 -->
                <div class="card-group">
                    <div class="img-group">
                        <img src="../Images/pict2.png" alt="pict1">
                    </div>
                    <div class="text-group">
                        <h2>Explore</h2>
                        <p>Explore a wealth of articles and tools designed to navigate college life at College Survival Guide. Uncover hidden
                        potentials and broaden your horizons.</p>
                    </div>
                </div>
                <!-- card 3 -->
                <div class="card-group">
                    <div class="img-group">
                        <img src="../Images/pict3.png" alt="pict1">
                    </div>
                    <div class="text-group">
                        <h2>Excel</h2>
                        <p>Excel in academics and personal growth with College Survival Guide as your ally. Achieve goals and surpass expectations
                        with our insights.</p>
                    </div>
                </div>
            </div>

            <!-- container 1 -->
            <div class="container-1">
                <div class="text-container1">
                    <h2>COLLEGE <br>
                    SURVIVAL GUIDE</h2>
                    <p>Welcome to our College Survival Guide! It's your ultimate tool for navigating through college life. Packed with tips and
                    strategies, this guide helps you succeed academically while balancing your life. Whether you're just starting or looking
                    for advice, it's your key to doing great in college and enjoying the experience.</p>
                    <a href="">Explore Us</a>
                </div>
                <div class="img-container1">
                    <img src="../Images/home1.png" alt="home">
                </div>
            </div>

            <!-- container 2 -->
            <div class="container2">
                <div class="img-container2">
                    <img src="../Images/home2.png" alt="home">
                </div>
                <div class="text-container2">
                    <h2>EXPLORE THE ESSENTIAL <br> SECTIONS</h2>
                    <p>Discover valuable insights and practical advice throughout our College Survival Guide, designed to assist you at every
                    stage of your academic journey. From effective study habits and time management techniques during the semester to
                    post-semester reflection and preparation strategies, delve into our comprehensive guide to ensure your success in
                    college.</p>
                </div>
            </div>

            <!-- section 5(slide show) -->
            <div class="section-5">
                <div class="imgSlides fade">
                    <img src="../Images/sociallfile.png">
                </div>
                <div class="imgSlides fade">
                    <img src="../Images/academiclife.png">
                </div>
                <div class="imgSlides fade">
                    <img src="../Images/personallife.png">
                </div>
            
                <!-- prev and next -->
                <a class="prev" onclick="plusSlides(-1)">❮</a>
                <a class="next" onclick="plusSlides(1)">❯</a>
            
            </div>

            <!-- section 6 -->
            <div class="section-6">
                <h1>CAMPUS LIFE<br>
                    #COLLEGESURVIVALGUIDE</h1><br>
                <div class="grid-container">
                    <img src="../Images/grid1.png" alt="">
                    <img src="../Images/grid2.png" alt="">
                    <img src="../Images/grid3.png" alt="">
                    <img src="../Images/grid4.png" alt="">
                    <img src="../Images/grid5.png" alt="">
                    <img src="../Images/grid6.png" alt="">
                    <img src="../Images/grid7.png" alt="">
                    <img src="../Images/grid8.png" alt="">
                    <img src="../Images/grid9.png" alt="">
                </div>
            </div>
        </main>

        <!-- footer -->
        <footer>
            <div class="footer-section">
                <div class="row">
        
                    <!--PAGES TAB-->
                    <div class="section">
                        <h1 class="section-label">Pages</h1>
                        <div class="pages-link">
                            <a href="#">Home</a>
                            <a href="#">Article</a>
                            <a href="#">Tools</a>
                            <a href="#">Guide</a>
                            <a href="#">About Us</a>
                            <a href="#">Contact Us</a>
                        </div>
                    </div>
        
                    <!--LATEST ARTICLE TAB-->
                    <div class="section">
                        <h1 class="section-label">Latest Articles</h1>
                    </div>
        
                    <!--SOCIAL MEDIAS TAB-->
                    <div class="section">
                        <h1 class="section-label">Social Media</h1>
                        <div class="socmed-icons">
                            <a href=""><i class="fa-brands fa-facebook"></i>
                                <a href=""><i class="fa-brands fa-twitter"></i>
                                    <a href=""><i class="fa-brands fa-square-instagram"></i>
                                        <a href=""><i class="fa-brands fa-youtube"></i></a>
                        </div>
        
                        <span class="policy-terms">
                            <a href="">Privacy Policy | Terms and Condition</a>
                        </span>
                    </div>
        
                </div>
            </div>
        
            <!--COPYRIGHT-->
            <div class="copy-container">
                <div class="copyright-text">Copyright &copy; Team Awa BSIT S.Y. 2023-2024</div>
            </div>
        </footer>
    </div>
</body>
<script src="../js/modals.js"></script>
<script src="../js/home.js"></script>
</html>