<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../Images/finalLogo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/landingPage.css">
    <title>CSGuide</title>
</head>
<body>
    <div class="container">
        <div class="video-container">
            <video autoplay loop muted id="fullScreen">
                <source src="../Images/video.mp4" type="video/mp4">
            </video>

            <div class="overlay">
                <div class="text-overlay-1">
                    <h1>COLLEGE SURVIVAL GUIDE</h1>
                </div>
    
                <div class="text-overlay-2">
                    <h1>Your Ultimate Guide <br> to Success</h1>
                </div>
    
                <div class="button-overlay">
                    <a href="login.php">Log In</a>
                    <a href="sigin.php">Sign In</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>