<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/timer.css">
    <link rel="shortcut icon" href="../Images/finalLogo.png" type="image/x-icon">
    <title>Pomodoro Timer</title>
</head>
<body>
    <div class="container">
        <div class="pomodoro-container">
            <div class="timer">
                <div class="choices">
                    <span id="pomorodo">Pomodoro</span>
                    <span id="shortBreak">Short Break</span>
                    <span id="longBreak">Long Break</span>
                </div>
                <span id="time">25:00</span> <br>
                <button id="button">Start</button>
            </div>
        </div>
    </div>
</body>
<script src="../js/timer.js"></script>
</html>